/* .text-color {
    color: #758283;
}

.text-color:hover {
    color: #5f6364;
}

.bg-color {
    background-color: #758283;
    border: none;

}

.bg-color:hover {

    background-color: #5f6364;
} */